@{
    var companyAbilityHrList = ViewBag.companyAbilityHrList;
    var pagingCompanyAbilityHrList = ViewBag.pagingCompanyAbilityHrList;
    var currentPage = pagingCompanyAbilityHrList?.CurrentPage;
    var totalPage = pagingCompanyAbilityHrList?.TotalPages;
    var maxPageShow = 5;
    if (totalPage > 0 && currentPage > totalPage)
    {
        currentPage = totalPage;
    }
    var halfPage = maxPageShow / 2;
    var startPage = currentPage - halfPage;
    if (startPage < 1)
    {
        startPage = 1;
    }
    var endPage = currentPage + halfPage;
    if (endPage > totalPage)
    {
        endPage = totalPage;
    }
}
<div class="modal-dialog modal-lg">
    <div class="modal-content animated fadeIn">
        <br />
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox-title bg_default_bid color-top-default_bid">
                    <h5><i class="fa fa-user-circle-o" aria-hidden="true"></i> Năng lực nhân sự </h5>
                </div>
                <div class="overflow-x-sp">
                    <table class="footable table table-stripped toggle-arrow-tiny default breakpoint footable-loaded text-center scroll-table" data-page-size="15">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-center">Họ tên</th>
                                <th class="text-center">Chức danh</th>
                                <th class="text-center">Bằng cấp</th>
                                <th class="text-center">Trường</th>
                                <th class="text-center">Ngành</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (companyAbilityHrList != null)
                            {
                                foreach (var companyAbilityHr in companyAbilityHrList)
                                {
                                    <tr class="footable-even">
                                        <td><input type="checkbox" class="i-checks XHS_NLNS Modal_XHS_NLNS" name="input[]" value="@companyAbilityHr.Id"></td>
                                        <td class="footable-visible footable-first-column">
                                            <span class="footable-toggle"></span>
                                            @companyAbilityHr.FullName
                                        </td>
                                        <td class="footable-visible">
                                            @companyAbilityHr.Title
                                        </td>
                                        <td class="footable-visible">
                                            @companyAbilityHr.Certificate
                                        </td>
                                        <td class="footable-visible">
                                            @companyAbilityHr.School
                                        </td>
                                        <td class="footable-visible">
                                            @companyAbilityHr.Branch
                                        </td>
                                        <td class="footable-visible">
                                            <button type="button" class="btn btn-white btn-Modal-Exit" data-dismiss="modal" onclick="pageContractBid.getCompanyAbilityHrDetail(@companyAbilityHr.Id)">Chỉnh sửa</button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <ul class="pagination pull-left">
                @{
                    if (pagingCompanyAbilityHrList?.TotalItems > 0)
                    {
                        if (startPage > 1)
                        {
                            <li class="footable-page-arrow"><a data-page="first" href="#" onclick="pageContractBid.changePageOnListCompanyAbilityHr(1, event)">«</a></li>
                            <li class="footable-page-arrow"><a data-page="prev" href="#" onclick="pageContractBid.changePageOnListCompanyAbilityHr(@currentPage - 1, event)">‹</a></li>
                        }
                        for (int i = startPage; i < endPage + 1; i++)
                        {
                            if (i == currentPage)
                            {
                                <li class="active"><a href="javascript:void(0)">@i</a></li>
                            }
                            else
                            {
                                <li class="footable-page"><a data-page="1" href="#" onclick="pageContractBid.changePageOnListCompanyAbilityHr(@i, event)">@i</a></li>
                            }
                        }
                        if (endPage < totalPage)
                        {
                            <li class="footable-page-arrow"><a data-page="next" href="#" onclick="pageContractBid.changePageOnListCompanyAbilityHr(@currentPage + 1, event)">›</a></li>
                            <li class="footable-page-arrow"><a data-page="last" href="#" onclick="pageContractBid.changePageOnListCompanyAbilityHr(@totalPage, event)">»</a></li>
                        }
                    }
                }
            </ul>
            <button type="button" class="btn btn-primary btn-Modal-Choose" onclick="pageContractBid.chooseButtonEventModal(event, 'XHS_NLNS')" data-dismiss="modal">Chọn</button>
            <button type="button" class="btn btn-danger btn-Modal-Delete" data-toggle="modal" data-target="#confirmDeleteBox">Xóa</button>
            <button type="button" class="btn btn-white btn-Modal-Exit" data-dismiss="modal" onclick="pageContractBid.exitButtonEventModal(event)">Thoát</button>
        </div>
    </div>
</div>
<script>
    $('.i-checks.XHS_NLNS').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });
    pageContractBid.storeCheckBoxVal("XHS_NLNS");
    pageContractBid.updateCheckBoxStatus("XHS_NLNS");
    pageContractBid.updateCheckBoxStatus("Modal_XHS_NLNS");
</script>