@model FW.ViewModels.BiddingNewsCommonVM

@{
    var listBiddingNewsNewest = ViewBag.BiddingNewsNewest;
}
<div class="panel-body" style="padding: 10px 0;">
    <div class="scroll_content">
        <div class="ss-content">
            <div class="row">
                @if (listBiddingNewsNewest != null)
                {
                    foreach (var item in listBiddingNewsNewest)
                    {
                        <div class="col-md-6">
                            <div class="hot-job">
                                <div class="row">
                                    <div class="col-md-3" style="text-align: center;">
                                        <div class="image-item">
                                            @if (!string.IsNullOrWhiteSpace(item.Image))
                                            {
                                                <img src="@item.Image" alt="" />
                                            }
                                            else
                                            {
                                                <img src="/Content/Common/img/no-thumnail.jpg" alt=""/>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <a href="@Url.Action("Index", "BidContractionDetail", new { id = item.BiddingNewsId})">
                                            <h3 style="height: 20px;">
                                                <span class="title-news">@item.ConstructionName </span>
                                            </h3>
                                            <p class="mb5">Gói thầu: @item.BiddingPackageName </p>
                                            <p class="mb5">Khu vực: @item.AreaName - Lượt đấu thầu: @item.NumberBidded</p>
                                            <p class="mb5">Ngày mở: @(item.NewsApprovalDate?.ToString("dd/MM/yyyy"))</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>