@{
    var filterPostVmList = ViewBag.filterPostVmList;
    var pagingFilterPostResult = ViewBag.pagingFilterPostResult;

    var currentPage = filterPostVmList != null ? (int)pagingFilterPostResult.CurrentPage : 0;

    var maxPageShow = 5;

    int totalPage = pagingFilterPostResult.TotalPages;
    if (totalPage > 0 && currentPage > totalPage)
    {
        currentPage = totalPage;
    }
    var halfPage = maxPageShow / 2;
    var startPage = currentPage - halfPage;
    if (startPage < 1)
    {
        startPage = 1;
    }
    var endPage = currentPage + halfPage;
    if (endPage > totalPage)
    {
        endPage = totalPage;
    }
}

<div class="ibox" id="filterPostTable">
    <div class="ibox-content">
        <div class="scroll_content">
            <div class="ss-content">
                @if (filterPostVmList != null)
                {
                    <div class="card-container">
                        @foreach (var item in filterPostVmList)
                        {

                        <div class="card">
                            @{
                                var imagePath = item.ThumbnailImageFilePath ?? "/Content/Common/img/no-thumnail.jpg";
                            }
                            <img src="@imagePath" alt="@imagePath">
                            <div class="card-content">
                                <h4>@item.Title</h4>
                                <p>@item.Username</p>
                                <p>@item.DateInserted</p>
                                <a href="@Url.Action("Details", "UserPosts", new { id = item.Id})">Đọc thêm</a>
                            </div>
                        </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="dataTables_paginate paging_simple_numbers text-right" id="paging-list-admin">
        <ul class="pagination">
            @{
                if (pagingFilterPostResult.TotalItems > 0)
                {
                    if (startPage > 1)
                    {
                        <li class="prev"><a href="#" onclick="biddingNewsSearch.changePageOnListBidding(@(currentPage-1), event);">← Previous</a></li>
                    }
                    for (int i = startPage; i < endPage + 1; i++)
                    {
                        if (i == currentPage)
                        {
                            <li class="active"><a href="javascript:void(0)">@i</a></li>
                        }
                        else
                        {
                            <li class="paginate_button"><a href="#" onclick="biddingNewsSearch.changePageOnListBidding(@i, event)">@i</a></li>
                        }
                    }
                    if (endPage < totalPage)
                    {
                        <li class="next"><a href="#" onclick="biddingNewsSearch.changePageOnListBidding(@(currentPage+1), event);"> Next → </a></li>
                    }
                }
            }
        </ul>
    </div>
</div>

<style>
    .card-container {
       display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; /* Căn đều thẻ card bắt đầu từ bên trái */
        gap: 20px; /* Khoảng cách giữa các thẻ */
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* Giúp căn các phần tử trong thẻ card đều nhau */
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;
        width: calc(33.33% - 20px); /* Đảm bảo mỗi hàng có 3 thẻ */
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

        .card img {
            width: 100%;
            height: 150px;
            object-fit: cover;
        }

    .card-content {
        padding: 15px;
    }

        .card-content h4 {
            margin: 10px 0;
            font-size: 20px;
            color: #333;
        }

        .card-content p {
            color: #777;
            font-size: 14px;
            line-height: 1.5;
        }

        .card-content a {
            display: inline-block;
            margin-top: 10px;
            padding: 10px 20px;
            background: #ff6b6b;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            transition: background 0.3s;
        }

            .card-content a:hover {
                background: #ff4757;
            }
</style>
