@{
    var filterPostVmList = ViewBag.filterPostVmList;
    var pagingFilterPostResult = ViewBag.pagingFilterPostResult;

    var currentPage = filterPostVmList != null ? (int)pagingFilterPostResult.CurrentPage : 0;

    var maxPageShow = 5;

    int totalPage = pagingFilterPostResult.TotalPages;
    if (totalPage > 0 && currentPage > totalPage)
    {
        currentPage = totalPage;
    }
    var halfPage = maxPageShow / 2;
    var startPage = currentPage - halfPage;
    if (startPage < 1)
    {
        startPage = 1;
    }
    var endPage = currentPage + halfPage;
    if (endPage > totalPage)
    {
        endPage = totalPage;
    }
}

<div class="ibox" id="filterPostTable">
    <div class="ibox-content">
        <div class="scroll_content">
            <div class="ss-content">
                @if (filterPostVmList != null)
                {
                    <div class="ibox-content">
                        @foreach (var item in filterPostVmList)
                        {
                            <a href="@Url.Action("Details", "UserPosts", new { id = item.Id})">
                                <div class="post-card">
                                    @{
                                        var imagePath = item.ThumbnailImageFilePath ?? "/Content/Common/img/no-thumnail.jpg";
                                    }
                                    <div class="image-item">
                                        <img src="@imagePath" alt="" />
                                    </div>
                                    <h3 style="height: 20px;">
                                        <span class="title-news">@item.Title </span>
                                    </h3>
                                    <p class="mb5">@item.Username </p>
                                    <p class="mb5">@item.DateInserted </p>
                                </div>
                            </a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="dataTables_paginate paging_simple_numbers text-right" id="paging-list-admin">
        <ul class="pagination">
            @{
                if (pagingFilterPostResult.TotalItems > 0)
                {
                    if (startPage > 1)
                    {
                        <li class="prev"><a href="#" onclick="biddingNewsSearch.changePageOnListBidding(@(currentPage-1), event);">← Previous</a></li>
                    }
                    for (int i = startPage; i < endPage + 1; i++)
                    {
                        if (i == currentPage)
                        {
                            <li class="active"><a href="javascript:void(0)">@i</a></li>
                        }
                        else
                        {
                            <li class="paginate_button"><a href="#" onclick="biddingNewsSearch.changePageOnListBidding(@i, event)">@i</a></li>
                        }
                    }
                    if (endPage < totalPage)
                    {
                        <li class="next"><a href="#" onclick="biddingNewsSearch.changePageOnListBidding(@(currentPage+1), event);"> Next → </a></li>
                    }
                }
            }
        </ul>
    </div>
</div>

<style>
    .post-card {
        border: 1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
        width: 180px;
        padding: 10px;
        margin: 10px;
        display: inline-block;
    }
</style>
